.o_kanban_dashboard.o_account_kanban .o_kanban_renderer.o_kanban_ungrouped .o_kanban_record{
    width: 500px !important;
    max-width: 620px !important;
}
.o_kanban_dashboard.o_account_kanban .o_kanban_renderer .o_kanban_record .oe_kanban_action_button{
    margin-right: 10px !important;
}
.o_kanban_dashboard .o_kanban_renderer .o_kanban_record .dropdown-menu{
    width: 320px !important;
}

