// Order management screen //
// List View // 
.order-management-screen{
    .orders{
        .header-row{
            .col{
                @include list_view_thead_th;
                @if $sh_header_sticky =="True" {
                    position: sticky;top: 0;
                }
            }

        }
        .order-list{
            .order-row{
                .col{
                    padding: 0.75rem 0.75rem !important;
                }
                &:nth-of-type(even){
                    background: $sh_even_row_color;
                }
                &:nth-of-type(odd){
                    background: $sh_odd_row_color;
                }
                &.highlight{
                    col{
                        font-weight: bold;
                        color: $sh_pos_primary_color;
                    }
                }
                &:hover{
                    background: $sh_hover_background_color !important;color: $sh_pos_primary_color;
                }
                @if $sh_list_view_border =="without_border" {
                    border-bottom: 0px;
                }
                @if $sh_list_view_border =="bordered" {
                    border-bottom: 1px solid $sh_pos_secondary_color;
                }
                // @if $sh_list_row_hover =="True" {
                //     &:hover{
                //         background: $sh_hover_background_color !important;
                //     }
                // }
            }
        }
    }
    .control-panel{
        .item.search-box{
            .input-group{
                @if $sh_form_element_style =="style_1" {
                    border-radius: 4px !important;
                }                              
                @if $sh_form_element_style =="style_2" {
                    border-radius: 10px 0px 10px 0px !important;
                }                              
                @if $sh_form_element_style =="style_3" {       
                    border-radius: 0px !important;
                }   
                &:hover,&:focus{
                    @include pos_form_element_hover;
                }
                @include pos_form_element;padding: 0px !important;
                .form-control{
                    border-radius: 0px !important;border: 0px !important;
                }
                .icon{
                    border: 0px !important;background: transparent !important;
                }
                .clear{
                    background: transparent !important;border: none;transition: all .5s;
                    &:hover{
                        color: $sh_pos_primary_color;
                    }
                }
            }
        }
    }
}